<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @supplier.name %>
</p>

<p>
  <strong>GHG emissions and pollution:</strong>
  <%= @supplier.ghg_and_pollution %>
</p>

<p>
  <strong>Sustainability commitment:</strong>
  <%= @supplier.sustainability_commitment %>
</p>

<p>
  <strong>Social performance:</strong>
  <%= @supplier.social_performance %>
</p>

<p>
  <strong>Protection of HCV areas:</strong>
  <%= @supplier.hcv_protection %>
</p>

<p>
  <strong>Traceability and diversity of supplier network:</strong>
  <%= @supplier.traceability_and_diversity %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
